/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Theme variables */
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-desktop.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.5);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-desktop-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(255, 255, 255, 0.9);
  --surface-color-hover: rgba(0, 0, 0, 0.8);
  --switch-bg: url(./assets/sun.svg);
}

/* Fallback for browsers without backdrop-filter support */
.no-backdrop-filter #switch span,
.no-backdrop-filter ul li a {
  background: var(--surface-color);
  opacity: 0.9;
}

/* Body styles */
body {
  background: var(--bg-url) no-repeat top center/cover;
  transition: background 0.4s ease;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* Layout */
#container {
  width: 360px;
  max-width: 588px;
  min-width: 320px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}

/* Profile section */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  margin: auto;
  transition: opacity 0.4s ease;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Switch theme */
#switch {
  width: 64px;
  position: relative;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 1;

  animation: slide-out 0.4s;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
  transition:
    background 0.4s,
    border-color 0.4s;
}

/* Links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;
  border-radius: 16px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);

  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;
  border-radius: 16px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);

  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* Social links */
#social {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 24px;
  padding: 24px 0px;
  font-size: 24px;
}

#social a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social a:hover {
  background: var(--highlight-color);
}

/* Footer */
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* Media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

@media (max-width: 480px) {
  #container {
    padding: 0px 16px;
  }
  ul {
    gap: 12px;
  }
  #social {
    gap: 24px;
  }
}

/* Animations */
@keyframes slide-in {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0%;
  }
}
